<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img alt="Your Company"
         class="mx-auto h-20 w-auto"
         src="assets/icon.jpg">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight to-blue-500">Create your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form (ngSubmit)="register()" [formGroup]="form" class="space-y-3">
      <div>
        <label class="block text-sm font-medium leading-6 text-balance" for="firstName">First Name</label>
        <div class="mt-1">
          <input
            class="block w-full rounded-md px-2 border-0 bg-white/5 py-1.5 text-cyan-600 shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 focus:ring-inset focus:ring-balck sm:text-sm sm:leading-6"
            formControlName="firstName" id="firstName" name="firstName" required
            type="text">
        </div>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-balance" for="lastName">Last Name</label>
        <div class="mt-1">
          <input
            class="block w-full rounded-md px-2 border-0 bg-white/5 py-1.5 text-cyan-600 shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 focus:ring-inset focus:ring-balck sm:text-sm sm:leading-6"
            formControlName="lastName" id="lastName" name="lastName" required
            type="text">
        </div>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-balance" for="email">Email address</label>
        <div class="mt-1">
          <input autocomplete="email"
                 class="block w-full rounded-md px-2 border-0 bg-white/5 py-1.5 text-cyan-600 shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 focus:ring-inset focus:ring-balck sm:text-sm sm:leading-6"
                 formControlName="email" id="email" name="email" required
                 type="email">
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium leading-6 text-balance" for="phone">Phone</label>
        <div class="mt-1">
          <input
            class="block w-full rounded-md px-2 border-0 bg-white/5 py-1.5 text-cyan-600 shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 focus:ring-inset focus:ring-balck sm:text-sm sm:leading-6"
            formControlName="phone" id="phone" name="phone" required
            type="tel">
        </div>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-balance" for="address">Address</label>
        <div class="mt-1">
          <input
            class="block w-full rounded-md px-2 border-0 bg-white/5 py-1.5 text-cyan-600 shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6"
            formControlName="address" id="address" name="address" required
            type="text">
        </div>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-balance" for="birthday">Birthday</label>
        <div class="mt-1">
          <input
            class="block w-full rounded-md px-2 border-0 bg-white/5 py-1.5 text-cyan-600 shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6"
            formControlName="birthday" id="birthday" name="birthday" required
            type="date">
        </div>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-balance" for="nationality">Nationality</label>
        <div class="mt-1">
          <input
            class="block w-full rounded-md px-2 border-0 bg-white/5 py-1.5 text-cyan-600 shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6"
            formControlName="nationality" id="nationality" name="nationality" required
            type="text">
        </div>
      </div>
      <div>
        <label class="block text-sm font-medium leading-6 text-balance" for="gender">Gender</label>
        <div class="mt-1">
          <select
            class="block w-full rounded-md px-2 border-0 bg-white/5 py-1.5 text-cyan-600 shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 focus:ring-inset focus:ring-balck sm:text-sm sm:leading-6"
            formControlName="gender"
            id="gender">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium leading-6 text-balance" for="password">Password</label>
        <div class="mt-1">
          <input autocomplete="current-password"
                 class="block w-full px-2 rounded-md border-0 bg-white/5 py-1.5 text-black shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6"
                 formControlName="password" id="password"
                 name="password" required
                 type="password">
        </div>
      </div>

      <div>
        <button
          class="flex w-full justify-center rounded-md bg-red-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500"
          type="submit">
          Register
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-400">
      Already have an account?
      <a class="font-semibold leading-6 text-red-500 hover:text-red-400" routerLink="/">Login</a>
    </p>
  </div>
</div>
