<section class="bg-gray-50 h-screen flex items-start py-4">
  <div class="max-w-screen-xl px-4 mx-auto lg:px-12 w-full">
    <!-- Start coding here -->
    <div class="relative shadow-md bg-gray-800 sm:rounded-lg">
      <div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
        <div class="w-full md:w-1/2">
          <h2 class="text-white text-xl font-medium">List of your accounts</h2>
        </div>
        <div
          class="flex flex-col items-stretch justify-end flex-shrink-0 w-full space-y-2 md:w-auto md:flex-row md:space-y-0 md:items-center md:space-x-3">
          <button
            class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
            type="button">
            <svg aria-hidden="true" class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd"
                    d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                    fill-rule="evenodd"/>
            </svg>
            Create account
          </button>
        </div>
      </div>
    </div>
    <!-- component -->
    <table class="border-collapse w-full">
      <thead>
      <tr>
        <th class="p-3 font-bold uppercase bg-gray-800 text-white border border-gray-300 hidden lg:table-cell">
          #
        </th>
        <th class="p-3 font-bold uppercase bg-gray-800 text-white border border-gray-300 hidden lg:table-cell">
          Number
        </th>
        <th class="p-3 font-bold uppercase bg-gray-800 text-white border border-gray-300 hidden lg:table-cell">
          Type
        </th>
        <th class="p-3 font-bold uppercase bg-gray-800 text-white border border-gray-300 hidden lg:table-cell">
          Balance
        </th>
        <th class="p-3 font-bold uppercase bg-gray-800 text-white border border-gray-300 hidden lg:table-cell">
          Creation date
        </th>
      </tr>
      </thead>
      <tbody>
        @for (account of accounts; track account.id; let i = $index) {
          @if (account.clientId.toString() === userId) {
            <tr
              class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
              <td
                class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                {{ i + 1 }}
              </td>
              <td
                class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                {{ account.number }}
              </td>
              <td
                class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                {{ account.type }}
              </td>
              <td
                class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                {{ account.balance }}
              </td>
              <td
                class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                {{ account.dateCreation }}
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</section>
