<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img alt="Your Company"
         class="mx-auto h-20 w-auto" src="assets/icon.jpg">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight to-blue-500">Sign in to continue</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="space-y-6">
      <div>
        <label class="block text-sm font-medium leading-6 text-balance" for="email">Email address</label>
        <div class="mt-2">
          <input autocomplete="email"
                 class="block w-full rounded-md px-2 border-0 bg-white/5 py-1.5 text-cyan-600 shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 focus:ring-inset focus:ring-balck sm:text-sm sm:leading-6"
                 formControlName="email" id="email" name="email" required
                 type="email">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label class="block text-sm font-medium leading-6 text-black" for="password">Password</label>
        </div>
        <div class="mt-2">
          <input autocomplete="current-password"
                 class="block px-2 w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6"
                 formControlName="password" id="password"
                 name="password" required
                 type="password">
        </div>
      </div>

      <div>
        <button
          class="flex w-full justify-center rounded-md bg-red-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500"
          type="submit">
          Sign in
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-400">
      Don't have account?
      <a class="font-semibold leading-6 text-red-500 hover:text-red-400" routerLink="/register">Register</a>
    </p>
  </div>
</div>
