<form (ngSubmit)="create()" [formGroup]="form" class="max-w-sm mx-auto">

  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 " for="type">TypeCompte</label>
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      formControlName="type" id="type">
      <option value="EPARGNE">EPARGNE</option>
      <option value="COURANT">COURANT</option>
    </select>
  </div>
  <div>
    <button
      class="flex w-full justify-center rounded-md bg-red-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500"
      type="submit">
      Create
    </button>
  </div>
</form>
